*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Quicksand' ,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--font-color);
    text-align: left;
    background-color: var(--bg-color);
  }
@media (min-width: 576px) {
    .container {
    max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
    max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
    max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
    max-width: 1140px;
    }
}
@media (min-width: 576px) {

    .container,
    .container-sm {
      max-width: 540px;
    }
  }

@media (min-width: 768px) {

    .container,
    .container-sm,
    .container-md {
    max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg {
    max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
    max-width: 1140px;
    }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
a, a:hover {
    text-decoration: none;
}
a {
    color: #ff6600;
    text-decoration: none;
    background-color: transparent;
  }
  
a:hover {
    color: #5431ac;
    text-decoration: underline;
}
  
a:not([href]) {
    color: inherit;
    text-decoration: none;
}
  
a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
:root {
    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --font-color: rgba(22, 28, 45, 0.7);
    --bg-color: #fff;
    --heading-color: #232121;
    --border-radius: 6px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #232121;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-light: rgba(130, 115, 252, .05);
    --bg-grey: #f7f7f7;
    --footer-bg: #000;
    --card-bg: #fff;
}

[data-theme="dark"] {
    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --font-color: #c2d0da;
    --bg-color: #232220;
    --heading-color: #eee;
    --border-color: rgba(255, 255, 255, 0.2);
    --border-color-light: rgba(255, 255, 255, 0.1);
    --nav-color: #fff;
    --dropdown-color: #121725;
    --iframe-filter: grayscale(100%);
    --bg-light: #282828;
    --bg-grey: #282828;
    --card-bg: #888c96;
    --footer-bg: #000;
}

/*==== START HEADER & BANNER ====*/
.w3lhny-banner {
    background-size: cover;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../images/banner1.jpg);
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
    min-height: 700px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
/* HEADER */
.w3_hny_header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 40px 0 20px 0;
    align-items: center;
}

h1 a.logo-brand {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}
a, a:hover {
  text-decoration: none;
}
.w3menu-right-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}
.position-relative {
  position: relative !important;
}
.w3menu-right-content .search-bar .search .search__input {
  display: flex;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: var(--font-color);
  font-weight: 400;
  border: none;
  border-radius: 6px;
  position: relative;
  right: 0;
  background: var(--bg-color);
  outline: 0;
  border: 1px solid (--bg-color);
}

.w3menu-right-content .search-bar .search .search__icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}

.w3menu-right-content .search-bar {
  display: flex;
}
@media (max-width:600px) {
    .w3menu-right-content .search-bar {
    display: none;
    }
}

@media (max-width:1190px) {
    .w3lhny-banner .bannerhny-info h3 {
        font-size:48px;
        line-height:58px;
    }
  }
@media (max-width:992px) {
    .w3lhny-banner .bannerhny-info h3 {
    font-size: 44px;
    line-height: 53px;
    }
}
@media (max-width:800px) {
    .w3lhny-banner .bannerhny-info h3 {
        font-size: 40px;
        line-height: 50px;
    }
    .w3lhny-banner {
        min-height: 600px;
        margin-top:60px;
    }
}
@media (max-width:480px) {
    .w3lhny-banner .bannerhny-info h3 {
    font-size: 28px;
    line-height: 38px;
    }
    .w3lhny-banner .bannerhny-info {
        max-width: 500px;
        margin-top: 30px;
    }
    .w3lhny-banner {
        min-height:450px;
    }
}
@media (max-width: 1080px) {
    .title-w3l,.title-w3l.two {
      font-size: 32px !important;
      line-height: 40px;
    }
  }
  
@media (max-width: 736px) {
    .title-left {
    font-size: 26px;
    line-height: 36px;
    }
}

@media (max-width:600px) {
    .title-w3l,.title-w3l.two {
    font-size: 30px !important;
    line-height: 38px;
    }
    p {
    font-size: 16px;
    line-height:26px;
    }
    .title-subhny {
    font-size: 16px;
    }
}

@media (max-width:480px) {
    .title-w3l,.title-w3l.two {
    font-size: 26px !important;
    line-height: 36px;
    }

    .btn-white,
    .btn-style {
    padding: 10px 21px;
    }

    .title-left {
    font-size: 22px;
    line-height: 32px;
    }
}

@media (max-width: 375px) {

    .btn-white,
    .btn-style {
    font-size: 16px;
    }

    .title-w3l,.title-w3l.two {
    font-size: 24px !important;
    line-height: 34px;
    }

    .title-subhny {
    font-size: 16px !important;
    letter-spacing: .5px;
    }
}
  
/* toggle for dark-theme*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}
  
.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
}
  
.theme-switch {
    display: inline-block;
    position: relative;
    margin: 0;
}
  
.theme-switch input {
    display: none;
}
  
.mode-container {
    width: 24px;
    height: 24px;
    padding: 1px 0;
}
  
.gg-sun {
    position: relative;
    height: 24px;
    background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
}
  
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
}
  
.gg-moon,
.gg-moon:after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
}
  
.gg-moon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px;
}
  
.gg-sun,
.gg-sun:after,
.gg-sun:before {
    box-sizing: border-box;
    display: block;
    width: 24px;
}
  
.gg-sun:after,
.gg-sun:before {
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
}
  
.gg-sun:before {
    transform: rotate(-45deg);
}
  
.gg-sun:after {
    transform: rotate(45deg);
}
  
.mode-container i.gg-sun {
    display: none;
    color: #eee;
}
  
.mode-container i.gg-moon {
    display: block;
    color: #eee;
}
  
input:checked+.mode-container i.gg-sun {
    display: block;
}
  
input:checked+.mode-container i.gg-moon {
    display: none;
}

/* end sun + moon  */
/* ===DARK THEME STYLE===  */

.table-dark,
.table-dark>th,
.table-dark>td {
  background-color: #c6c8ca;
}
.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody+tbody {
  border-color: #95999c;
}
.table-hover .table-dark:hover {
    background-color: #b9bbbe;
}
  
.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
    background-color: #b9bbbe;
}
.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
  }
  
.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
  
.table-dark {
    color: #fff;
    background-color: #343a40;
}
  
.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #454d55;
}
  
.table-dark.table-bordered {
    border: 0;
}
  
.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}
  
.table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
}
.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
  
.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
  
.btn-light:focus,
.btn-light.focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
  
.btn-light.disabled,
.btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
  
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}
  
.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
  
.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}
  
.btn-dark:focus,
.btn-dark.focus {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
  }
  
.btn-dark.disabled,
.btn-dark:disabled {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }
  
.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d;
}
  
.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}  
  
.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3);
}
  
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}
  
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}


.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.5);
}
  
.navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}
  
.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
  
.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-text a {
    color: #fff;
}

.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus {
    color: #fff;
}
.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

a.badge-light:hover,
a.badge-light:focus {
    color: #212529;
    background-color: #dae0e5;
}

a.badge-light:focus,
a.badge-light.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.badge-dark {
    color: #fff;
    background-color: #343a40;
}

a.badge-dark:hover,
a.badge-dark:focus {
    color: #fff;
    background-color: #1d2124;
}

a.badge-dark:focus,
a.badge-dark.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-dark hr {
    border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
    color: #040505;
}
.list-group-item-light {
    color: #818182;
    background-color: #fdfdfe;
}

.list-group-item-light.list-group-item-action:hover,
.list-group-item-light.list-group-item-action:focus {
    color: #818182;
    background-color: #ececf6;
}

.list-group-item-light.list-group-item-action.active {
    color: #fff;
    background-color: #818182;
    border-color: #818182;
}
  
.list-group-item-dark {
    color: #1b1e21;
    background-color: #c6c8ca;
}

.list-group-item-dark.list-group-item-action:hover,
.list-group-item-dark.list-group-item-action:focus {
    color: #1b1e21;
    background-color: #b9bbbe;
}

.list-group-item-dark.list-group-item-action.active {
    color: #fff;
    background-color: #1b1e21;
    border-color: #1b1e21;
}
.bg-light {
    background-color: #f8f9fa !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
    background-color: #dae0e5 !important;
}
  
.bg-dark {
    background-color: #343a40 !important;
}

a.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
    background-color: #1d2124 !important;
}
.border-light {
    border-color: #f8f9fa !important;
}

.border-dark {
    border-color: #343a40 !important;
}
.text-light {
    color: #f8f9fa !important;
}

a.text-light:hover,
a.text-light:focus {
    color: #cbd3da !important;
}
  
.text-dark {
    color: #343a40 !important;
}

a.text-dark:hover,
a.text-dark:focus {
    color: #121416 !important;
}  
/* ==overlay for nav bar== */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgb(6 3 0 / 77%);
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
}

/* Overlay closing cross */
.overlay .overlay-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: var(--primary-color);
    color: #fff;
    border-radius: 6px;
}

button#trigger-overlay {
	outline: none;
	border: none;
	background: none;
	text-align: center;
	color: #fbfdfb;
	font-size: 1.95em;
	padding: 0 8px;
}
button, [type="button"], [type="reset"], [type="submit"] {
    appearance: button;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	transform: translateY(-50%);
	transform: translateY(-50%);
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}
.overlay ul li {
	display: block;
	backface-visibility: hidden;
    line-height:3em;
}
.overlay ul li a {
	font-size: 20px;
	font-weight: 600;
	display: block;
	color: #fff;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color:var(--primary-color);
}

/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	transform: scale(0.9);
	transform: scale(0.9);
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	transform: scale(1);
	transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}

	.overlay ul li {
		min-height: 34px;
	}
}
@media (max-width:767px) {
	.overlay ul li a {
		font-size: 16px;
	}
	.overlay ul li {
		line-height: 2.5em;
	}
}
@media (max-width:600px) {
	.overlay ul li a {
		font-size: 16px;
	}
	.overlay ul li {
		line-height: 2.2em;
	}
}
/* END HEADER */

/* BANNER  */
.w3lhny-banner .bannerhny-info {
    max-width: 600px;
    text-align: left;
    margin-top: 100px;
}
.w3lhny-banner .bannerhny-info h3 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}
.w3lhny-banner .bannerhny-info p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}
@media (min-width: 992px){
    .pr-lg-5, .px-lg-5 {
    padding-right: 3rem !important;
}}
@media (min-width: 768px){
    .mt-md-4, .my-md-4 {
    margin-top: 1.5rem !important;
}}
.btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.btn-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: var(--primary-color);
}
.btn-style, .btn-white {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 6px;
    border: 2px solid;
}

/* ==inner Banner - about ==*/
.w3l-innerpage {
    background-size: cover;
    background-image: linear-gradient(to right, rgb(236 98 6 / 98%), rgb(5 3 0 / 83%)), url(../images/banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 350px;
}
  
.w3l-innerpage .breadcrumbs-custom-path li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}
  
.w3l-innerpage .breadcrumbs-custom-path li.active {
    color: #fff;
}
  
.w3l-innerpage .breadcrumbs-custom-path li span.fa {
    font-size: 12px;
}
  
.w3l-innerpage .breadcrumbs-custom-path a:hover {
    color: var(--primary-color);
}
  
.w3l-innerpage ul.breadcrumbs-custom-path {
    padding-top: 81px;
}
@media (max-width:736px) {
    .w3l-innerpage {
      min-height: 200px;
    }
    .w3l-innerpage ul.breadcrumbs-custom-path {
      padding-top: 20px;
    }
}

.feature-with-photo-1 .header-title h6{
    font-size: 17px;
}
.feature-with-photo-1 .header-title h3{
    font-size: 30px;
}
.feature-with-photo-1 .ab-in-flow {
    align-items: center;
  }
  
.feature-with-photo-1 .feature-with-photo-hny p {
    font-size: 15px;
    line-height: 23px;
}
  
.feature-with-photo-1 .feature-with-photo-hny h4 a {
    color: var(--primary-color);
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
}
  
.feature-with-photo-1 .feature-with-photo-hny h5 {
    margin-bottom: 20px;
}
  
.feature-with-photo-1 .feature-with-photo-hny h4 a:hover {
    color: var(--secondary-color);
}
  
.feature-with-photo-1 .feature-with-photo-hny .grid p {
    margin: 0;
    margin-top: 5px;
}
  
.feature-with-photo-1 .three-grids {
    margin-top: 42px;
}
  
.feature-with-photo-1 .grid-columns-3 {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    display: grid;
}
  
@media (max-width: 1280px) {
    .feature-with-photo-1 .grid-columns-3 {
        grid-column-gap: 30px;
    }
}
  
@media (max-width: 1080px) {
    .feature-with-photo-1 .grid-columns-3 {
        grid-column-gap: 15px;
    }
  
    .feature-with-photo-1 .grid {
        grid-gap: 15px;
    }
}
  
@media (max-width: 992px) {
    .feature-with-photo-1 .feature-with-photo h3 {
        font-size: 40px;
        line-height: 40px;
    }
  
    .feature-with-photo-1 .grid-columns-3 {
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
  
    .feature-with-photo-1 .ab-right {
        margin-top: 50px;
    }
}
  
@media (max-width: 800px) {
    .feature-with-photo-1 .grid-columns-3 {
        grid-template-columns: 1fr;
    }
  
    .feature-with-photo-1 .grid {
        grid-template-columns: 50px 1fr;
    }
  
    .feature-with-photo-1 .icon {
        text-align: center;
    }
}
  
@media (max-width: 768px) {
    .feature-with-photo-1 .feature-with-photo h3 {
        font-size: 34px;
        line-height: 35px;
    }
}
  
@media (max-width: 668px) {
    .feature-with-photo-1 .feature-with-photo h3 {
        font-size: 32px;
    }
  
    .feature-with-photo-1 .feature-with-photo .grid p {
        max-width: 100%;
    }
}
  
@media (max-width: 568px) {
    .feature-with-photo-1 .feature-with-photo h3 {
        font-size: 30px;
        line-height: 35px;
    }
  
    .feature-with-photo-1 .grid-columns-3 {
        grid-row-gap: 20px;
        grid-column-gap: 15px;
    }
  
    .feature-with-photo-1 .feature-with-photo-hny h3.hny-title {
        margin-bottom: 20px;
        font-size: 26px;
        line-height: 30px;
    }
}
  
@media (max-width: 480px) {
    .feature-with-photo-1 .feature-with-photo h3 {
        font-size: 28px;
    }
  
    .feature-with-photo-1 .feature-with-photo {
        padding: 40px 0;
    }
}
  
@media (max-width: 415px) {
    .feature-with-photo-1 .grid-columns-3 {
        grid-template-columns: 1fr;
    }
}
  
@media (max-width: 384px) {
    .feature-with-photo-1 .feature-with-photo-hny h4 a {
        font-size: 18px;
        line-height: 25px;
    }
  
    .feature-with-photo-1 .feature-with-photo .grid p {
        line-height: 23px;
    }
  
    .feature-with-photo-1 .feature-with-photo h4 {
        font-size: 18px;
    }
  
    .feature-with-photo-1 .three-grids {
        margin-top: 30px;
    }
}
/* ==skills-about==  */
.home-skills {
    background-color: var(--bg-grey);
}
.home-skills h3{
    font-size: 1.7rem;
    line-height: 40px;
    padding: 0 !important;
}  
.home-skills h6{
    font-size: 1rem !important;
}
.home-skills .progress-info {
    margin-bottom: 20px;
    text-align: left;
}
.home-skills p {
    font-size: 15px !important;
}
.home-skills .progress-info:last-child {
    margin-bottom: 0px;
}
  
.home-skills .progress-bar {
    background-color: var(--primary-color);
    transition: width 0.6s ease;
}
  
.home-skills .progress {
    display: flex;
    height: 0.5em;
    overflow: hidden;
    font-size: 0.75em;
    background-color: var(--font-color);
    border-radius: 0.25em;
}
  
.home-skills .progress-bar-striped {
    background-image: none;
    background-size: 1em 1em;
}
  
.skill-imags {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 30px;
}
.skill-imags img {
    border-radius: 6px;
}
  
.home-skills h6.progress-tittle {
    font-size: 18px;
    color: var(--heading-color);
    margin-bottom: 10px;
    font-weight: 700;
}
  
@media (max-width: 992px) {
    .home-skills .image-padding {
      margin: 100px 0;
    }
}
/* *-- team --*/ 
.grid-alignment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: end;
}

.w3l-team-main .team {
    position: relative;
}

.w3l-team-main .our-team .team-row {
    margin-left: -40px;
    margin-right: -40px;
}

.w3l-team-main .our-team .team-wrap {
   padding: 0 40px;
}

.w3l-team-main .our-team .container-fluid,
.w3l-team-main .our-team .container-sm,
.w3l-team-main .our-team .container-md,
.w3l-team-main .our-team .container-lg,
.w3l-team-main .our-team .container-xl,
.w3l-team-main .our-team .container-sm,
.w3l-team-main .our-team .container-md,
.w3l-team-main .our-team .container-lg,
.w3l-team-main .our-team .container-xl,
.w3l-team-main .our-team .container-sm,
.w3l-team-main .our-team .container-md,
.w3l-team-main .our-team .container-lg,
.w3l-team-main .our-team .container-xl {
    padding: 0 50px;
}

.w3l-team-main .team-img img {
    transition: all .2s ease-in-out;
    overflow: hidden;
    width: 100%;
}

.w3l-team-main .team-member,
.w3l-team-main .team-img {
    position: relative;
    overflow: hidden;
}

.w3l-team-main .team-title {
    margin: 25px 0 0px;
    font-size: 24px;
    color: var(--heading-color);
    font-weight: 700;
    display: block;
}

.w3l-team-main .team-member p {
    text-transform: capitalize;
}

.w3l-team-main .team-details {
    opacity: 0;
    position: absolute;
    bottom: 12%;
    left: 0;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    transition: all .4s ease-in-out;
}

.w3l-team-main .team-img:hover .team-details {
    opacity: 1;
}

.w3l-team-main .team-img:hover .overlay-team {
    opacity: 1;
}

.w3l-team-main .team-member:hover a {
  color: var(--primary-color);
}

.w3l-team-main .socials a {
    display: inline-block;
    margin-right: 5px;
}

.w3l-team-main .socials a span {
    color: #fff;
    font-size: 16px;
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    line-height: 42px;
    text-align: center;
    transition: all .3s ease 0s;
    background: rgba(157, 157, 157, 0.5);
}

.w3l-team-main .team-details .socials span {
   color: #fff;
}

.w3l-team-main .socials a:hover span {
  background: var(--bg-color);
  color: var(--primary-color);
}

@media all and (max-width: 991px) {
  .w3l-team-main .team-title {
    margin: 18px 0 0px;
  }

  .w3l-team-main .team-title {
    font-size: 18px;
  }
}

@media all and (max-width: 568px) {
  .team-row {
    padding: 0 10px;
  }

  .team-row .col-6 {
    padding: 0 10px;
  }
}

@media all and (max-width: 415px) {
  .team-row {
    padding: 0 5px;
  }
}

@media all and (max-width: 384px) {
  .w3l-team-main .team-title {
    font-size: 18px;
  }

  .w3l-team-main .socials a span {
    width: 38px;
    height: 38px;
    line-height: 38px;
  }

  .w3l-team-main .socials a {
    margin-right: 2px;
  }
}

/*-- //team --*/ 

/*---pricing---*/
.menu-item-name h6 {
    font-size: 20px;
    font-weight: 600;
}
  
.menu-item-description p {
    margin-top: 10px;
}
  
.border-dot {
    padding-bottom: 10px;
    border-bottom: 2px dotted #bbb;
}
  
.menu-item-price h6 {
    font-weight: 600;
    font-size: 1.3em;
    color: var(--primary-color);
}

/** blog post **/
.w3l-blogposts {
    background: var(--bg-grey);
}
.w3l-blogposts img{
    border-radius: 6px;
}
  
.w3l-blogposts .card {
    position: relative;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
    border-radius: 0;
}
  
.w3l-blogposts a.receipe {
    background: var(--primary-color);
    color: #fff;
    padding: 3px 20px;
    border-radius: 35px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    letter-spacing: .05em;
}
  
.w3l-blogposts .meta-info {
    opacity: 1;
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: .02em;
}
  
.w3l-blogposts .post-pos {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
  
.w3l-blogposts a.blog-desc {
    display: block;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: var(--heading-color);
    margin-top: 25px;
    margin-bottom: 15px;
    transition: .3s ease;
}
  
.w3l-blogposts .card-header {
    border: none;
}
  
.w3l-blogposts a.post-img-anchor {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}
  
.w3l-blogposts .p-meta-info {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: flex-start;
}
  
.w3l-blogposts .p-meta-info img {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}
  
.w3l-blogposts .p-meta-info a {
    font-size: 13px;
    font-weight: 900;
    color: var(--heading-color);
}
  
.w3l-blogposts .p-footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
  
.w3l-blogposts a.read {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 700;
    color: #232121;
    opacity: .9;
}
  
.w3l-blogposts a.read:hover {
    color: var(--primary-color);
}
/*--/blog-innerpage--*/

ul.page-pagination li {
    display: inline-block;
    margin-right: 5px;
}
  
ul.page-pagination li span.current {
    display: block;
    padding: 8px 16px;
    color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    font-weight: 700;
    background: var(--primary-color);
    transition: background-color .15s linear, color .15s linear;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}
  
ul.page-pagination li a.page-numbers,
ul.page-pagination li a.next {
    display: block;
    padding: 8px 16px;
    background-color: var(--bg-grey);
    border: 1px solid #eee;
    border-radius: 6px;
    font-weight: 700;
    color: var(--font-color);
    transition: background-color .15s linear, color .15s linear;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}
  
ul.page-pagination li a.page-numbers:hover,
ul.page-pagination li a.next:hover {
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
  
.sidebar-widget {
    margin-bottom: 40px;
    padding: 40px 30px;
    background: var(--bg-color);
    border-radius: 6px;
}
  
.sidebar-widget .title-left {
    font-size: 26px;
    line-height: 38px;
    font-weight: 600;
}
  
.sidebar-widget article.post {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 15px;
    margin-bottom: 15px;
    align-items: center;
}
  
.sidebar-widget article.post-recipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
  
.sidebar-widget .text-small a {
    display: block;
    font-size: 13px;
    line-height: 22px;
    font-weight: 900;
    color: var(--heading-color);
    margin-top: 10px;
}
  
.sidebar-widget article.post:last-child {
    margin-bottom: 0px;
}
  
.sidebar-widget article.post img {
    border-radius: 6px;
}
  
.sidebar-widget .text a {
    font-size: 15px;
    line-height: 23px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 900;
    color: var(--heading-color);
    transition: all 0.3s ease;
}
  
.sidebar-widget .blog-cat li a:before {
    display: inline-block;
    color: var(--primary-color);
    font-family: 'FontAwesome';
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--font-color);
    position: absolute;
    top: 20px;
    left: 0px;
    border: 1px solid var(--bg-grey);
    opacity: .3;
}
  
.sidebar-widget .blog-cat li a {
    position: relative;
    color: var(--font-color);
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding: 10px 15px 10px 20px;
}
  
.sidebar-widget .blog-cat li.active a,
.sidebar-widget .blog-cat li a:hover {
    color: var(--primary-color);
}
  
.sidebar-widget .blog-cat li a:hover::before {
    opacity: 1;
}
  
nav.post-navigation {
    border: solid var(--border-color-light);
    border-width: 1px 0px 1px 0px;
    background: var(--bg-color);
    border-radius: 6px;
}
  
ul.cont-4 li {
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    margin-top: 10px;
}
  
ul.cont-4 li span.fa {
    color: var(--primary-color);
    margin-right: 12px;
    font-size: 10px;
    padding: 7px;
    border-radius: 50%;
    display: inline-block;
}
blockquote.blockquote {
    border: solid var(--border-color-light);
    border-width: 1px 0px 1px 0px;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 40px 30px;
}
blockquote q {
    color: var(--heading-color);
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
}
.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d;
}
span.nav-title {
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    color: var(--font-color);
  }
  
a.posts-view-left {
    display: grid;
    grid-template-columns: 34% 62%;
    grid-gap: 4%;
    align-items: center;
    margin-top: 10px;
}
  
a.posts-view-right {
    display: grid;
    grid-template-columns: 62% 34%;
    grid-gap: 4%;
    align-items: center;
    margin-top: 10px;
}
  
a.posts-view label {
    cursor: pointer;
    font-size: 16px;
    line-height: 26px;
    color: var(--heading-color);
    font-weight: 600;
}
  
nav.post-navigation {
    border: solid var(--border-color-light);
    border-width: 1px 0px 1px 0px;
    background: var(--bg-color);
    border-radius: 6px;
}
  
.reply input,
.reply textarea {
    outline: none;
    width: 100%;
    font-family: inherit;
    text-align: left;
    appearance: none;
    display: grid;
    grid-template-columns: .1fr 1fr;
    align-items: center;
    border-radius: 6px;
    min-height: 60px;
    padding: 13px 20px;
    border:1px solid var(--border-color-light);
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    color: var(--heading-color);
    background-color: var(--bg-color);
    box-shadow: none;
}
  
.reply input:focus,
.reply textarea:focus {
    border: 1px solid var(--primary-color);
    background: var(--bg-grey);
    box-shadow: none;
}

a.author-image {
    width: 130px;
    height: 130px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}

a.author-name {
    font-size: 20px;
    line-height: 30px;
    color: var(--heading-color);
    display: block;
    margin-bottom: 6px;
}

.author-detalis {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 20px;
}

.comments .media-grid {
    margin-bottom: 30px;
}

.media {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 25px;
    position: relative;
}

.media a.com {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
}

.media-body.comments-grid-right {
    border: 1px solid var(--border-color-light);
    padding: 30px;
    border-radius: 6px;
    background: var(--bg-color);
    position: relative;
}

.media-body.comments-grid-right:before {
    content: '';
    width: 20px;
    height: 20px;
    background: var(--bg-color);
    border: 1px solid var(--border-color-light);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(-45deg);
    position: absolute;
    top: 19px;
    left: 0%;
    z-index: 1001;
}
  
.comments h5 {
    font-size: 20px;
    line-height: 28px;
    color: var(--heading-color);
    font-weight: 700;
    margin: 0;
}
  
.comments-grid-right ul li {
    display: inline-block;
    color: #888;
    font-size: 16px;
    vertical-align: middle;
}

.comments-grid-right ul li a {
    font-weight: 600;
}

.even-grid {
    margin-left: 120px;
}

.media-grid p {
    margin: 0px;
    margin-top: 15px;
}

@media (max-width: 991px) {
    .w3l-single-banner {
    margin-top: 75px;
    }
    .w3l-blogposts a.blog-desc {
    font-size: 20px;
    line-height: 30px;
    }
}

@media (max-width: 768px) {
    .w3l-single-banner h1.title {
    font-size: 35px;
    }
}

@media (max-width: 736px) {
    .cooked-recipe-info {
    grid-auto-flow: row;
    }

    .w3l-single-banner h1.title {
    font-size: 30px;
    }
}

@media (max-width: 480px) {
    .cook-grid-inner-info h4 {
    font-size: 16px;
    }

    .blo-singl {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    }

    .media {
    grid-auto-flow: row;
    }

    .even-grid {
    margin-left: 30px;
    }

    .media-body.comments-grid-right:before {
    transform: translateX(-50%) rotateZ(45deg);
    top: -11px;
    left: 9%;
    }
}

@media (max-width: 415px) {
    .cook-grid-right {
    grid-template-columns: 1fr 1fr;
    }

    .media a.com {
    width: 70px;
    height: 70px;
    }

    .w3l-single-banner h1.title {
    font-size: 25px;
    line-height: 1.4;
    }

    a.posts-view label {
    font-size: 18px;
    }
}

@media (max-width: 480px) {
    .sidebar-widget {
    margin-bottom: 20px;
    }
}

@media (max-width: 384px) {

    ul.page-pagination li a.page-numbers,
    ul.page-pagination li a.next,
    ul.page-pagination li span.current {
    padding: 7px 15px;
    }

    .sidebar-widget .text a {
      font-size: 18px;
    }
  
    .sidebar-widget {
      padding: 35px 20px;
    }
}
    
/* ==end blog post==  */

/* ERROR PAGE  */
.w3l-error-grid h1 {
    font-weight: 700;
    font-size: 80px;
    color: var(--heading-color);
    letter-spacing: 5px;
}
  
.w3l-error-grid h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--heading-color);
    font-weight: 600;
}
  
.w3l-error-grid .form-control {
    color: var(--font-color);
    padding: 12px 120px 12px 25px;
    font-size: 18px;
    line-height: 28px;
    height: 55px;
    background: var(--bg-grey);
    border-radius: 6px;
    display: block;
    font-weight: 500;
}
  
.error-block {
    max-width: 600px;
    margin: 0 auto;
}
  
.w3l-error-grid .form-control:focus {
    box-shadow: none;
    border: 1px solid var(--primary-color);
}
  
.w3l-error-grid button.btn.search {
    color: #fff;
    background: var(--primary-color);
    font-size: 18px;
    padding: 0 40px;
    font-weight: 600;
    letter-spacing: 0px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 55px;
    display: inline-block;
    border-radius: 6px;
}
  
.w3l-error-grid button.btn.search:hover {
    opacity: .8;
}
  
.w3l-error-grid .form-inline.search-form {
    position: relative;
    max-width: 500px;
    margin: auto;
}
  
.w3l-error-grid .back-button {
    font-weight: 600;
    display: inline-block;
    font-size: 18px;
    color: var(--heading-color);
    letter-spacing: 0;
}
  
.w3l-error-grid .back-button span.fa {
    font-size: 14px;
    vertical-align: 1px;
}
  
.w3l-error-grid .back-button:hover {
    color: var(--primary-color);
}
  
@media all and (max-width: 992px) {
    .w3l-error-grid h1 {
      font-size: 100px;
    }
}

@media all and (max-width: 568px) {
    .w3l-error-grid h1 {
    font-size: 80px;
    }
}

@media all and (max-width: 415px) {
    .w3l-error-grid h2 {
    font-size: 22px;
    }
}

@media all and (max-width: 384px) {
    .w3l-error-grid button.btn.search {
    position: relative;
    width: 100%;
    margin-top: 10px;
    }
}
  
/* end error  */

/* CONTACT  */
.margin-up {
    margin-top: 1.5em;
}
  
.contact-view {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-gap: 10px;
}
  
.cont-top {
    display: grid;
    grid-template-columns: 20px auto;
    grid-column-gap: 20px;
}
  
.twice {
    margin-bottom: 20px;
}
  
.cont-details h5 {
    font-size: 15px;
    color: var(--heading-color);
    font-weight: 600;
}
  
.cont-details p,
.cont-details p a {
    font-size: 13px;
    line-height: 28px;
    color: var(--font-color);
}
  
.cont-details p a:hover {
    text-decoration: underline;
    opacity: 0.8;
    color: #232121;
}
  
.cont-details address {
    margin: 25px 0;
}
  
.cont-details address p {
    margin: 5px 0;
}
  
.cont-left span.fa {
    font-size: 15px;
    margin-top: 5px;
    color: var(--primary-color);
}
  
.twice-two {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}
  
.map-content-9 form input,
.map-content-9 form textarea {
    background: var(--bg-grey);
    border: 1px solid transparent;
    color: var(--font-color);
    font-size: 18px;
    padding: 12px 20px;
    line-height: 28px;
    width: 100%;
    border-radius: 6px;
    height: 58px;
  }
  
.map-content-9 h5 {
    font-size: 28px;
    line-height: 38px;
    color: #232121;
    font-weight: 700;
}
  
.map-content-9 form textarea {
    resize: none;
    min-height: 200px;
}
  
.map-content-9 form input:focus,
.map-content-9 form textarea:focus {
    outline: none;
    border: 1px solid var(--primary-color);
    background: #fff;
    box-shadow: none;
}
  
  .cont-details h5 a {
    color: var(--heading-color);
  }
  
  .map-iframe iframe {
    border-radius: 6px;
    background: var(--bg-grey);
    padding: 10px;
  }
  
/* contact1-responsive */
@media (max-width: 992px) {
    .contact-view {
    grid-template-columns: 1fr;
    }

    .map-content-9 {
    margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .twice-two {
    grid-template-columns: 1fr;
    }

    button.btn-contact {
    width: 100%;
    }

    .margin-up {
    margin-top: 1.5em;
    }
    .map-content-9 h5 {
    font-size: 26px;
    line-height: 36px;
    }
}
  
@media (max-width: 384px) {
    .map-content-9 form input,
    .map-content-9 form textarea {
    height: 54px;
    }

    .twice-two {
    grid-gap: 12px;
    margin-bottom: 12px;
    }

    .twice {
    margin-bottom: 12px;
    }
}
/* end contact  */

/* START ELEMENTS  */
.typo-wthree h4 {
    color: var(--heading-color);
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: bold;
}
  
.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}
  
.bd-example-container {
    min-width: 16rem;
    max-width: 25rem;
    margin-right: auto;
    margin-left: auto;
}
  
.bd-example-container-body {
    height: 8rem;
    margin-right: 4.5rem;
    background-color: #efefef;
    border-radius: .25rem;
}
  
.bd-example-container-sidebar {
    float: right;
    width: 4rem;
    height: 8rem;
    background-color: #5f5a5a;
    border-radius: .25rem;
}
  
.bg-flex {
    background-color: rgba(120, 112, 251, 0.14);
    border: 1px solid rgba(0, 0, 0, 0.19);
}
  
.bg-flex-item {
    background-color: #fff;
    border: 1px solid #d7d8d8;
}

.typo-wthree h5 {
    color: var(--primary-color);
    font-size: 1.4em;
    font-weight: 600;
}

.bd-example {
    padding: 2rem;
    border-width: .2rem;
    border: solid #f5f5f5;
    margin-top: 1rem;
}

.highlight {
    padding: 1.5rem;
    background-color: #f8f9fa;
}

.highlight pre code {
    color: var(--font-color);
}

pre {
    margin-bottom: 0;
}

.na {
    color: #4f9fcf;
}

.s {
    color: #d44950;
}

.c {
    color: #999;
}

.bd-example .texti {
    margin-bottom: .5rem;
}

h5.texti {
    color: #212529;
}

.bd-example {
    padding: 2rem;
    /* border-width: 0.2em; */
    border: 2px solid var(--bg-grey);
    margin-top: 1rem;
    border-radius: 6px;
}

.highlight {
    padding: 1.5rem;
    background-color: var(--bg-grey);
}
  
.typo-w3 .table th,
.typo-w3 .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid var(--bg-grey);
    color: var(--font-color);
}

.typo-w3 .bg-flex {
    background-color: var(--bg-grey);
    border: 1px solid var(--bg-color);
}
.jumbotron,.list-group-item,.breadcrumb,.typo-w3 .form-control,.bd-example-container-body {
    background-color: var(--bg-light);
}
  /* //typography */

@media(max-width: 991px) {
    .bd-example button.btn {
    margin-top: 10px;
    }
}

@media(max-width: 736px) {
    .bd-example {
    padding: 1.5rem;
    }

    .display-1 {
    font-size: 5rem;
    }

    .display-2 {
    font-size: 4.5rem;
    }

    .display-3 {
    font-size: 3.5rem;
    }

    .display-4 {
    font-size: 2.5rem;
    }
}
  
@media(max-width: 414px) {
    .typo-wthree h4 {
    font-size: 1.3em;
    }
}

@media(max-width: 384px) {
    .display-1 {
    font-size: 4rem;
    }

    .display-2 {
    font-size: 3.5rem;
    }

    .display-3 {
    font-size: 2.5rem;
    }

    .display-4 {
    font-size: 1.5rem;
    }

    .bg-flex-item {
    font-size: 13px;
    }
}
  
@media(max-width: 320px) {
    .display-1 {
    font-size: 3rem;
    }

    .display-2 {
    font-size: 2.5rem;
    }

    .display-3 {
    font-size: 2rem;
    }

    .display-4 {
    font-size: 1.5rem;
    }

    .bg-flex-item {
    font-size: 12px;
    padding: 6px !important;
    }

    li.breadcrumb-item,
    li.breadcrumb-item a {
    font-size: 14px;
    }

    .bd-example-container {
    min-width: 13rem;
    }

    .table th,
    .table td {
    padding: 0.5rem;
    font-size: 15px;
    }
}
  
/* END ELEMENTS  */
/* EMAIL  */
.bg_white {
    background:#fff;
}

.bg_light {
    background: rgba(130, 115, 252, .05);
}

.bg_theme {
    background:var(--primary-color);
}

.email-w3l-section {
    padding: 3em 2em;
}

.bg_black {
    background:#000;
}

.bg_dark {
    background:#000;
}
.btn.eamil {
    padding: 5px 15px;
    display: inline-block;
}
table.scale-2s {
      padding: 10px;
      border-collapse: initial;
}
table h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    margin: 0;
}

table p {
    font-size: 16px;
    color: var(--font-color);
    line-height: 28px;
}

.img-responsive {
    width: 100%;
}

a {
    text-decoration: none;
}

  /*--vjm--*/
.vjm {
    position: relative;
    z-index: 0;
}

.overlay-banner {
    background: rgba(0, 7, 10, 0.50);
    z-index: 9;
    padding: 2em 0;
}

.overlay-lavi {
    background: rgb(0 7 10 / 66%);
    z-index: 9;
    padding: 2em 2em;
}

.footer-block {
    z-index: 9;
    padding: 2em 2em;
}

.vjm .text h2 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 0;
}

.banner-bottom-gds {
    padding: 0 2em;
}

.header-w3l-top {
    padding: 0em 2em 1em 2em;
}

.email-sub-text {
    color: #ffffff;
    font-size: 24px;
}

td.sub-gd.img-ab {
    padding-right: 2%;
}

.quick-links-email li {
    list-style: none;
}

label.border-log {
    border: 2px solid #fff;
    border-right: 0;
    padding-left: 4px;
}

  /*--/headings--*/

h3.banner-title-email {
    font-size: 26px;
    line-height: 35px;
}

.heading-section-white {
    color: rgba(255, 255, 255, .8);
}

.heading-section-white h2 {
    line-height: 1;
    padding-bottom: 0;
}

.heading-section-white h2 {
    color: #ffffff;
}

.quick-links-email {
    text-align: right;
}

h3.name {
    padding-top: 10px;
}

h3.name a {
    color: #232121;
    text-decoration: none;
    font-size: 14px;
}

.heading-section h4 {
    color: #232121;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    text-transform: capitalize;
}

  /*--//headings--*/
  /*--services--*/
.services {
    color: var(--heading-color);
}
.text-services .meta {
    text-transform: uppercase;
    font-size: 14px;
}
td.sub-gd.ab-gd {
    padding: 0;
    padding-right: 20px;
}
span.border-vw3l {
    border-bottom: 4px solid var(--bg-grey);
}
.grid-w3l-top {
    margin-top: 46px;
}

  /*--services--*/

  /*--footer--*/
.footer-email-61 {
    color: rgba(255, 255, 255, .5);

}
.email-w3l-section {
    padding: 3em 2em;
}
td.footer-gd {
    padding-left: 5%;
}

.footer-email-61 li a {
    color: #828288;
}

a.w3l-icon-social {
    display: inline-block;
    width: 36px;
    border: 2px solid #fff;
    padding: 6px;
    height: 36px;
    border-radius: 6px;
    margin-right: 6px;
}




@media screen and (max-width:640px) {
    .vjm .text h2 {
    font-size: 2em !important;
    margin-bottom: 0;
    }

    .heading-section h3 {
    font-size: 25px!important;
    }

    .heading-section h4 {
    font-size: 18px!important;

    }

    .footer .heading {
    font-size: 18px!important;
    }

    .email-w3l-section {
    padding: 3em 2em;
    }

    td.sub-gd {
    width: 100% !important;
    display: block;
    }
    td.res-padd {
    padding-top: 20px!important;
}
    .sub-head-email .name-email {
    margin: 0;
    font-size: 0.9em;
    }

    .email-w3l-section.copy-right-w3l {
    padding: 0.7em 1em;
    }

    td.mid-text {
    text-align: left !important;
    }

    td.counter-gd.sub-gd table {
    width: 49% !important;
    float: left;
    margin: 0 auto;
    }

    .overlay-lavi {
    background: rgb(0 7 10 / 66%);
    z-index: 9;
    padding: 0em 0em;
    }

    .email-wrap-top {
    margin-top: 50px !important;
    }

    .email-wrap-bottom {
    margin-bottom: 50px !important;
    }

    h3.w3l-title {
    margin-bottom: 16px !important;
    font-size: 26px !important;
    line-height: 36px;
    }

    td.mid-text h6 {
    margin-bottom: 16px !important;
    font-size: 26px !important;
    line-height: 36px!important;
    }

    .grid-w3l-top {
    margin-top: 36px!important;
    }

    .email-w3l-bann-content.email-w3l-section {
    padding: 1em 0em;
    }

    h4.name-email-black {
    font-size: 20px !important;
    line-height: 30px;
    text-align: left !important;
    }

    td.text-services.gd-sub-inf {
    padding: 0 !important;
    margin-bottom: 42px !important;
    }

    td.sub-gd.gd-sub-info-bottom {
    margin-bottom: 35px;
    }

    table.social-icons-table {
    width: 60% !important;
    }

    td.footer-gd {
    padding-left: 5%;
    margin: 0 auto;
    text-align: center;
    }

    .footer-block {
    padding: 2em 2em;
    }

    h3.banner-title-email {
    font-size: 22px!important;
    line-height: 35px;
    }

    .header-w3l-top {
    padding: 2em 1em;
    }

    p.para-bottom {
    padding: 0 !important;
    }
}

@media screen and (max-width:600px) {
    td.logo {
    width: 100%;
    float: left;
    text-align: center !important;
    }

    td.logo.nav-top {
    width: 100%;
    float: left;
    }

    .icon {
    text-align: left;
    }
    p.para {
        text-align: left!important;
    }
}

@media screen and (max-width:580px) {
    table {
    width: 100% !important;
    }

    h2.w3l-text-inf {
    font-size: 26px !important;
    line-height: 38px !important;
    }
}

@media screen and (max-width:390px) {
    h2.w3l-text-inf {
    font-size: 22px !important;
    line-height: 34px !important;
    }
}
/* END EMAIL  */
/* END HEADER & BANNER  */

/* ABOUT  */
.title-subhny {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: 'Pacifico', cursive;
}
.title-w3l {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
/* END ABOUT  */
.w3l-agent-block {
  background: var(--primary-color);
}
.agent-block-image {
    background: url(../images/banner3.jpg) no-repeat center;
    background-size: auto;
    background-size: cover;
    position: relative;
    z-index: 1;
    min-height: 600px;
}
.agent-block-image::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.title-subhny.two {
  color: #fff;
}
.title-subhny {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: 'Pacifico', cursive;
}

.title-subhny span {
    color: var(--heading-color);
}
.title-w3l {
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
}
.w3l-agent-block p {
    color: #ffdfc9;
}
.subscribe-cat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 30px;
}
.subscribe-cat-gd .icon {
    background: #fff;
}
.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
.icon span.fa {
    color: var(--primary-color);
    font-size: 25px;
    line-height: 70px;
}
.subscribe-cat-gd:hover .icon span.fa {
    color: var(--secondary-color);
    transition: 0.3s ease-in-out;
}
.subscribe-cat .subscribe-cat-link {
    display: block;
    color: var(--heading-color);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 20px;
}

/* What's new  */
.hieu-res-categories {
    background: var(--bg-grey);
}
  
.whieu-res-categories .gal-slide-grid {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 32px;
}
  
.hieu-res-categories .gal-slide-img {
    position: relative;
}
  
.hieu-res-categories .gal-slide-img:after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
  
.hieu-res-categories .gal-slide-img img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    border-radius: 6px;
}
  
.hieu-res-categories .gal-slide-info {
    left: auto;
    bottom: 0;
    width: 80%;
    padding: 0 5px;
    position: absolute;
    opacity: 0;
    color: #fff;
    transform: translate3d(0, 10%, 0);
    transition: opacity 0.3s;
}
  
.hieu-res-categories .gal-slide-info h4 {
    font-size: 18px;
    color: #fff;
}
  
.hieu-res-categories .gal-slide-grid .gal-slide-img:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    border-radius: 6px;
}
  
.hieu-res-categories.gal-slide-grid .gal-slide-info {
    transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -10%, 0);
}
  
.hieu-res-categories img:hover {
    opacity: 0.85;
    transition: all 0.4s;
}
  
.hieu-res-categories .gal-slide-grid .gal-slide-info {
    opacity: 1;
    transition: all 0.4s;
}
  
.hieu-res-categories .content-left-sec a h4 {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}
  
.hieu-res-categories .content-left-sec a:hover {
    text-decoration: none;
}
  
.hieu-res-categories .content-left-sec a:hover {
    color: #4f9da6;
}
  
.hieu-res-categories .content-left-sec h6 {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    opacity: 0.9;
}
  
.hieu-res-categories .gal-slide-info span {
    font-weight: 600;
    color: var(--secondary-color);
    font-size: 18px;
    letter-spacing: 1px;
}

@media all and (max-width:800px) {
    .hieu-res-categories .content-left-sec a h4 {
      font-size: 18px;
      line-height:28px;
    }
    .w3l-res-categories .gal-slide-info span {
        font-size: 16px;
    }
}
/* end Whats new  */
/* Home services  */
.home-services {
    position: relative;
}
  
.box-wrap {
    padding: 40px 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    background-color: var(--bg-color);
    position: relative;
    border: 1px solid var(--border-color-light);
}
  
.box-wrap:hover {
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}
  
.box-wrap-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}
  
.box-wrap h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    color: var(--heading-color);
}
  
.box-wrap h4 a:hover {
    color: var(--primary-color);
}
  
.box-wrap h5 {
    font-weight: 400;
    color: var(--font-color);
    font-size: 20px;
    opacity: .8;
}
  
.box-wrap p {
    margin: 0;
}
  
.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: rgba(130, 115, 232, .05);
    line-height: 70px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
  
  .box-wrap:hover .icon {
    background-color: var(--primary-color);
    transition: 0.3s ease-in-out;
  }
  
  .box-wrap:hover .icon span.fa {
    color: #fff;
    transition: 0.3s ease-in-out;
  }
  
  .icon span.fa {
    color: var(--primary-color);
    font-size: 25px;
    line-height: 70px;
  }
  
  .subscribe-cat-gd .icon {
    background: #fff;
  }
  
  .subscribe-cat-gd:hover .icon span.fa {
    color: var(--secondary-color);
    transition: 0.3s ease-in-out;
  }
  
  @media (max-width: 1080px) {
    .box-wrap h5 {
      font-size: 17px;
    }
  
    .box-wrap h4 a {
      font-size: 20px;
    }
  }
  
  @media (max-width: 415px) {
    .box-wrap {
      padding: 30px 30px;
    }
  }
/* end Home services  */

/* stat & info  */
.middle {
    background: url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
  
.middle:before {
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
  
.welcome-left {
    max-width: 700px;
    margin: 0 auto;
}
  
.welcome-left h3 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    max-width: 800px;
}
.btn-style, .btn-white {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 6px;
    border: 2px solid transparent;
}
.btn-white {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.btn-white:hover {
    background: #fff;
    border: 2px solid #fff;
    color: var(--primary-color);
}
.btn-primary{
    background: var(--primary-color);
}
.btn-primary:hover {
    color: #fff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    opacity: 0.8;
}
.welcome-left .sub-titlehny {
    color: #ddd;
}
  
.welcome-left span.watch {
    color: #eee;
    font-weight: 500;
    padding-left: 10px;
}
  
.welcome-left span.video-play-icon {
    background: rgba(255, 248, 248, 0.25);
    color: #fff;
    display: inline-block;
    padding-left: 5px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
}
  
.welcome-left span.video-play-icon:hover {
    background: var(--primary-color);
}
  
.welcome-left p {
    color: #eee;
    margin: auto;
    margin-top: 15px;
    font-size: 18px;
    line-height: 30px;
}
  
@media (max-width: 1080px) {
    .welcome-left h3 {
      font-size: 40px;
      line-height: 50px;
      max-width: 100%;
    }
}
  
@media (max-width: 736px) {
    .welcome-left h3 {
      font-size: 35px;
      line-height: 40px;
    }
}
  
@media (max-width: 415px) {
    .welcome-left h3 {
      font-size: 26px;
      line-height: 34px;
    }
  
    .welcome-left p {
      font-size: 18px;
      line-height: 28px;
    }
}
/* end info  */
/* counting number section  */
section.w3_stats {
    margin-top: -70px;
    z-index: 10;
    position: relative;
}
  
.w3-stats p {
    font-size: 1.1em;
}
  
.counter {
    background-color: var(--bg-color);
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    padding: 40px 20px;
    border-radius: 6px;
    text-align: center;
    transition: .3s ease;
}
  
.counter:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
    transition: .3s ease;
}
  
.counter span.fa {
    background: var(--primary-color);
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
}
  
.timer {
    font-size: 2.6em;
    font-weight: 500;
    color: var(--heading-color);
    font-family: Arial, Helvetica, sans-serif;
}
  
p.count-text {
    text-transform: capitalize;
    color: var(--font-color);
    font-weight: 600;
}
  
@media (max-width:992px) {
    section.w3_stats {
        margin-top: 0px;
    }
}
  
@media (max-width: 640px) {
    .timer {
      font-size: 2em;
    }
  
    .counter {
      text-align: center;
      padding: 30px 10px;
    }
}
  
@media (max-width: 480px) {
    .w3-stats p {
        font-size: 0.9em;
    }
}
  
/* end count  */
/* VIDEO  */
iframe {
    border: none;
    display: block;
  }

.new_block{
    background: var(--bg-color);
}
  
.video .history-info {
    background: url(../images/banner3.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    min-height: 500px;
    border-radius: 6px;
}
  
.video .history-info::before {
    content: "";
    background: rgb(16 15 19/60%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 6px;
}

  /* .video .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 40px);
  } */
  
.video span.video-play-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
    color: var(--primary-color);
    border: transparent;
    background: #fff;
}

.video span.video-play-icon:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    background: var(--primary-color);
    border: transparent;
    color: #fff;
}
  
#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

.mfp-hide {
    display: none !important;
}

div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}
/* video animation  */
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
        0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
  
    100% {
      box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
        0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
  }
  
/* end video  */

  /* BLOGPOSTS */
.blogposts {
    background: var(--bg-grey);
}

.title-sub {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--primary-color);
    display: block;
    font-family: "Pacifico", cursive;
}

.title {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.blogposts .card {
    position: relative;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
    border-radius: 0;
}

.blogposts .card-header {
    border: none;
    position: relative;
}

.radius-image {
    border-radius: 6px;
}

.blogposts .post-pos {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.blogposts a.receipe {
    background: var(--primary-color);
    color: #fff;
    padding: 3px 20px;
    border-radius: 35px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    letter-spacing: 0.05em;
}

.blogposts .meta-info {
    opacity: 1;
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: 0.02em;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.blogposts a.blog-desc {
    display: block;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 25px;
    margin-bottom: 15px;
    transition: 0.3s ease;
}
  
.blogposts .p-footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
  
.blogposts .p-meta-info {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: flex-start;
}

.blogposts a.post-img-anchor {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.blogposts .p-meta-info a {
    font-size: 14px;
    font-weight: 700;
    color: var(--heading-color);
    letter-spacing: 0.02em;
}

.blogposts .p-meta-info img {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

.blogposts a.read {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: var(--heading-color);
    opacity: 0.9;
}
.blogposts a.read:hover {
    color: var(--primary-color);
}
  
  /* TESTIMONIALS */
  .agency-test .testimonial-content {
    max-width: 700px;
    margin: auto;
  }
  
  .clients a.comment-img {
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .img-responsive {
    max-width: 100%;
    display: block;
  }
  
.clients .testimonial img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}
  
blockquote q {
    color: var(--heading-color);
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
}
  
.clients blockquote q {
    font-size: 24px;
    line-height: 36px;
    color: var(--heading-color);
    font-weight: 600;
}
  
.clients blockquote q::before {
    font-size: 50px;
    color: var(--primary-color);
    display: block;
    font-family: initial;
}
  
.clients .testimonial .people-info h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}
  
.clients p.indentity {
    font-size: 18px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
    margin-top: 4px;
}
  
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--primary-color);
}
button:focus {
    outline: none;  
}
/* END VIDEO  */


/**=== FOOTER + COPYRIGHT =====**/
/* FOOTER */
.footer-main {
    background: #000;
  }
  
  .footer-main a.navbar-brand {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    padding: 0;
  }
  
  .footer-main p {
    font-size: 13px;
    line-height: 26px;
    color: #a5a2a1;
  }
  
  .footer-main .footer-list ul li a,
  .footer-main .footer-list ul li p,
  .copyright .footer-list ul li a,
  .footer-main a {
    font-size: 12px;
    line-height: 26px;
    color: #a5a2a1;
  }
  
  .footer-main .footer-list ul li a:hover,
  .copyright .footer-list ul li a:hover,
  .footer-main a:hover {
    color: var(--primary-color);
  }
  
  .main-social-footer a {
    margin-right: 10px;
    color: var(--primary-color);
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    transition: 0.3s;
  }
  
  .main-social-footer a:hover {
    background: var(--primary-color);
    transition: 0.3s;
    color: #fff;
  }
  
  .main-social-footer a span.fa {
    line-height: 36px;
  }
  
  .footer-main h6.footer-title {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
    color: #fff;
  }
  
  .footer-main .footer-list ul li,
  .footer-main .midd-footer:nth-child(1) .footer-list ul li:last-child {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .footer-main .footer form {
    margin-top: 25px;
    position: relative;
  }
  
  .footer-main input[type="email"] {
    padding: 14px 20px;
    font-size: 14px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: var(--font-color);
    background: #fff;
    border-radius: 6px;
  }
  
.btn-style,
.btn-white {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 6px;
    border: 2px solid transparent;
}
  
  .btn:hover {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    opacity: 0.8;
  }
  
  /* COPYRIGHT */
  .copyright {
    padding: 1.2em 0;
    background: #000;
    border-top: 1px solid rgb(255 255 255 / 5%);
  }
  
  .copyright p.copy-footer {
    align-self: center;
    color: #ddd;
    font-size: 17px;
  }
  
  .copyright .copy-footer a {
    color: var(--primary-color);
  }
  
  .copyright .copy-footer a:hover {
    color: #fff;
  }
  
.copyright #movetop {
    display: none;
    position: fixed;
    bottom: 55px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    padding: 0;
    line-height: 36px;
    border-radius: 35px;
    transition: 0.3s ease-out;
}
  
 /* END   */
